{% extends 'base.html' %}

{% block content %}
<br><br><br>
    <h1>Editar Classificação</h1>
    <form action="{{ url_for('edit_classification', classification_id=classification.id) }}" method="post">

        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" name="name" class="form-control" value="{{ classification.name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
{% endblock %}
